/* Estilos gerais da listagem de veículos */
body {
    font-family: 'Poppins', sans-serif;
    background: url('/src/imgs/BackgrounAplication.AVI');
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
    margin: 0;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Título */
h2 {
    text-align: center;
    color: #FFD700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0;
    font-size: 28px;
    font-weight: 600;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 1000px;
    background-color: rgba(255, 243, 224, 0.9);
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

/* Tabela de veículos */
.veiculos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.veiculos-table th, .veiculos-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.veiculos-table th {
    background-color: #FFA726;
    color: white;
}

.veiculos-table tr:hover {
    background-color: #f1f1f1;
}

/* Botões de ação */
.botao-editar, .botao-remover {
    padding: 8px 12px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s ease-in-out;
}

/* Botão de editar */
.botao-editar {
    background: linear-gradient(135deg, #d3840d, #ca9c06);
}

.botao-editar:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #adab06, #b5b808);
}

/* Botão de remover */
.botao-remover {
    background: linear-gradient(135deg, #b80000, #ff1a1a);
}

.botao-remover:hover {
    background: linear-gradient(135deg, #ff3333, #ff6666);
}
